*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #DEE0E4;
  
}

nav{

  width: 35rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #8DA3CB;
}

ul{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 120%;
  justify-self: center;
  
}

ul li{
  width: 8rem;
  list-style-type: none;
  height: 100%;
  background: #8DA3CB;
  box-shadow: -0px 0px 12px 0px rgb(0, 0, 0);
  
}

ul li a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #DEE0E4;

}


ul li a:hover{
  background-color: ##8DA3CB
  ;
  color: white
}

h2{
  text-align: center;
  margin-top: 1rem;
  color: #172A51;
}

table{
  width: 750px;
  table-layout: auto;
  border-collapse: collapse;
  border: #3d3d3d52;
  text-align: center;
  color: #172A51
}

th{
  border-bottom: 3px solid #a09e9e52;
}

tr:nth-child(odd) {
  background: #c2c2c2
}
tr:nth-child(even) {
  background: #CFCBC6
}
td:nth-child(1){
  font-weight: bold;
}


#message-container{
  text-align: center;
  margin: 2rem;
  color: #172A51;
  
}

